body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

pwa-auth::part(signInButton) {
  background-color: green;
  color: white;
  transform: rotate3d(0, 0, 1, 25deg);
}